{% extends 'base-skeleton.twig' %}
{% set title = post.title %}
{% block content %}
  <div class="container post">
    <div class="post-header">
      <div class="title">
        {% if session.login and session.role == 'admin' %}
          <small><a href="/edit/article/{{ post.id }}/"><i class="fa fa-pencil fa-small"></i></a></small> | 
        {% endif %}
        {{ post.title }}
      </div>
      <div class="meta">
        <div class="timestamp">
          {% if post.date_posted != post.date_modified %}
            Updated : {{ post.date_modified|date('F d, Y') }}
          {% else %}
            Posted : {{ post.date_posted|date('F d, Y') }}
          {% endif %}
        </div>
        <div class="pageviews"><i class="fa fa-eye"></i> {{ post.views }}x Views</div>
        <div class="tags">
          {% for tag in post.tags %}
            <a href="/tags/{{ tag.tag_name }}" class="post-tag"><i class="fa fa-tags"></i> {{ tag.tag_name|upper }}</a>
          {% endfor %}
        </div>
        <em class="u-pull-right">Written by : {{ post.poster }}</em>
      </div>
    </div>
    <div class="post-content">
      <div class="markdown-body">
        {% markdown %}
          {{ post.post|markdown|raw }}
        {% endmarkdown %}
      </div>
    </div>
  </div>
{% endblock %}
